<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Configuration" version="2.1.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.0" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0" />
  <package id="Microsoft.Extensions.Logging" version="2.1.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" />
  <package id="Microsoft.Extensions.ML" version="1.7.0" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.1.0" />
  <package id="Microsoft.Extensions.Options" version="2.1.0" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.0" />
  <package id="Microsoft.ML" version="1.7.0" />
  <package id="Microsoft.ML.CpuMath" version="1.7.0" />
  <package id="Microsoft.ML.DataView" version="1.7.0" />
  <package id="Microsoft.ML.FastTree" version="1.7.0" />
  <package id="System.Buffers" version="4.4.0" />
  <package id="System.CodeDom" version="4.4.0" />
  <package id="System.Memory" version="4.5.3" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" />
  <package id="System.Threading.Channels" version="4.7.1" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" />
</packages>